{% extends "myhtmls/base.html" %}

{% block title %} Log in || TANDILHOOK {% endblock %}

{% block content %}
{% load static %}

<section class="dark-section">
    <div class="loginbox d-flex flex-column justify-content-center align-items-center">
        <h2>Log in</h2>
        <div class="loginform">
            <form action="" method="POST">
                {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                <input type="submit" class="btnsend" value="Log in">
            </form>
        </div>
    </div>
</section>

{% endblock %}