{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/mycss/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrapcss/bootstrap.min.css' %}" rel="stylesheet">
    <!--ADDED FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@1..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Nova+Mono&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@1..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Hubballi&family=Nova+Mono&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@1..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@742&family=Gruppo&family=Hubballi&family=Nova+Mono&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@1..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@742&family=Gruppo&family=Hubballi&family=Nova+Mono&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+SC:wght@1..1000&display=swap" rel="stylesheet">

    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="mynav navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/general/THlogogreen.png' %}" height="80px" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse lilmenu" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'aboutus' %}">About us</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Products</a>
                    </li>
                    <li>
                        <a href="{% url 'contactus' %}">Contact us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="userbtn-hidden lbtns">Log out</button>
                    </form>
                    {% else %}
                    <li class="userbtn-hidden">
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                    <li class="userbtn-hidden">
                        <a href="{% url 'signin' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-1 col-lg-2 userbtnbox">
                <ul>
                    {% if user.is_authenticated %}
                    <div>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="lbtns">Log out</button>
                            </form>
                        </li>
                        <li class="navgreet">
                            <p>Welcome, <span>{{ user.username }}</span>!</p>
                        </li>
                    </div>
                    {% else %}
                    <div class="row d-flex">
                        <li class="col userbtn">
                            <a href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="col userbtn">
                            <a class="userbtn" href="{% url 'signin' %}">Sign up</a>
                        </li>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="topbar container-fluid"></div>
    <!-- CAROUSEL -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'images/carousel/cimg1.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="{% static 'images/carousel/cimg2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="{% static 'images/carousel/cimg3.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="bordergreen container-fluid"></div>
    <div class="borderblack container-fluid"></div>

    <!-- MAIN CONTENT -->

    {% block content %}  {% endblock %}

    <footer class="py-5 bg-black">
        <div class="container px-5">
            <p class="m-0 text-center text-white small">Copyright &copy; Tandil Hook 2024</p>
        </div>
    </footer>
</body>
<script src="{% static 'js/bootstrapjs/bootstrap.min.js' %}"></script>
</html>