{% extends "myhtmls/base.html" %}

{% block title %} Lures || TANDILHOOK {% endblock %}

{% block content %}
{% load static %}

<section class="clientprod-section light-section d-flex flex-column justify-content-center">
    <div class="prodblocks">
            {% for cloth in clothing %}
            <div class="myproduct">
                <p class="pname">{{ cloth.name }}</p>
                <img src="{{ cloth.image.url }}" alt="cloth image">
                <p class="ptype">Type: {{ cloth.type }} - Sizes: {{ cloth.type }}</p>
                <p class="pdesc">{{ cloth.description }}</p>
                <p class="pprice">${{ cloth.price }}</p>
                {% if perms.app_tandilHook.change_cloth %}
                <div>
                    <a class="btnsend" href="{% url 'editcloth' cloth.id %}" role="button">Edit</a>
                    <a class="btndanger" href="{% url 'deletecloth' cloth.id %}" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% if perms.app_tandilHook.change_cloth %}
    <div class="container d-flex justify-content-end">
        <a class="btnsend" href="{% url 'addcloth' %}">Add new product</a>
    </div>
    {% endif %}
   
</section>

{% endblock %}