{% extends "myhtmls/base.html" %}

{% block title %} Lures || TANDILHOOK {% endblock %}

{% block content %}
{% load static %}

<section class="clientprod-section light-section">
    <div class="prodblocks">
            {% for lure in lures %}
            <div class="myproduct">
                <p class="pname">{{ lure.name }}</p>
                <img src="{{ lure.image.url }}" alt="lure image">
                <p class="ptype">Type: {{ lure.type }} - Sizes: {{ lure.type }}</p>
                <p class="pdesc">{{ lure.description }}</p>
                <p class="pprice">${{ lure.price }}</p>
                {% if perms.app_tandilHook.change_lure %}
                <div>
                    <a name="" id="" class="btnsend" href="{% url 'editlure' lure.id %}" role="button">Edit</a>
                    <a name="" id="" class="btndanger" href="{% url 'deletelure' lure.id %}" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% if perms.app_tandilHook.change_lure %}
    <div class="container d-flex justify-content-end">
        <a class="btnsend" href="{% url 'addlure' %}">Add new product</a>
    </div>
    {% endif %}
   
</section>

{% endblock %}