{% extends "myhtmls/base.html" %}

{% block title %} Lures || TANDILHOOK {% endblock %}

{% block content %}
{% load static %}

<section class="clientprod-section light-section d-flex justify-content-center">
    <div class="prodblocks">
            {% for tool in tools %}
            <div class="myproduct">
                <p class="pname">{{ tool.name }}</p>
                <img src="{{ tool.image.url }}" alt="tool image">
                <p class="ptype">Type: {{ tool.type }} - Sizes: {{ tool.type }}</p>
                <p class="pdesc">{{ tool.description }}</p>
                <p class="pprice">${{ tool.price }}</p>
                {% if perms.app_tandilHook.change_tool %}
                <div>
                    <a class="btnsend" href="{% url 'edittool' tool.id %}" role="button">Edit</a>
                    <a class="btndanger" href="{% url 'deletetool' tool.id %}" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% if perms.app_tandilHook.change_tool %}
    <div class="container d-flex justify-content-end">
        <a class="btnsend" href="{% url 'addtool' %}">Add new product</a>
    </div>
    {% endif %}
   
</section>

{% endblock %}